.flex{
  flex-direction: row;
  gap: 20px;
  max-width: 100%;
  overflow: hidden;
}

.click{
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 8px;
}

.click:hover{
  background-color: black;
  color: white;
}

.right{
  float: right;
}
.left{
  float: left;
}

