.img {
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}

.userIntro {
    width: auto;
    height: auto;
    border: 2px solid black;
    padding: 2%;
    margin: 5%;
    border-radius: 10px;
}

.box {
    max-width: auto;
    max-height: auto;
    margin: 5%;
    border: 2px solid black;
    border-radius: 10px;

    padding: 5%;
}

.grid {
    max-width: 100% !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.page {
    width: auto;
    height: auto;
}